footer {
    background: rgba(0,0,0,0.5);
    padding: 15px;
    border-top:1px solid #444;
    text-align: center;
}

footer ul li {
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 20px;
}
