header {
    margin-bottom: 20px;
}

header ul {
    text-align: center;
}

a {
    color:#999;
}

a:hover {
    color: #5199A8;
}

header ul a li {
    display: inline-block;
    padding: 15px 30px;
    margin-right: 10px;
    background: rgba(0,0,0,0.4);
    border-radius: 0 0 4px 5px;
}

header ul a li:hover {
    background: rgba(81,153,168,0.4);
    color:#f3f3f3;
}