header {
    margin-top: 50px;
    margin-bottom: 50px;
}

header ul {
    text-align: center;
}

a {
    color:#999;
}

a:hover {
    color: #5199A8;
}

header ul a li {
    display: inline-block;
    padding: 35px 60px;
    margin-right: 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 35px 0 35px 0;
    font-size: 16px;
}

header ul a li:hover {
    background: rgba(244,76,11,0.4);
    color:#f3f3f3;
}