/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    color:#999;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}

/* Body styles */
body {
    width: 960px;
    margin:0 auto;
    background: #333;
    font-family: Verdana;
    font-size: 12px;
    background: url("/img/bg.jpg") no-repeat #000 top center;
}

/* Content styles */
section#content {
    min-height: 600px;
    background: rgba(0,0,0,0.4);
}

section#content section#left, section#content section#right {
    min-height: 400px;
}

section#content section#left {
    width:260px;
    float: left;

}

section#content section#left ul {
    margin: 10px 0 0 10px;
}

section#content section#left ul a li{
    background: rgba(81,153,168,0.4);
    margin-bottom: 10px;
    padding: 15px;
    font-size: 16px;
}

section#content section#left ul a li:hover{
    background: rgba(244,76,11,0.4);
}

section#content section#left ul a li span.link {
    color:#ddd;
}

section#content section#left ul a li span.small {
    display: block;
    margin-top: 10px;
    font-size: 11px;
}

section#content section#left ul li:hover span.small {
    color:#999;
}

section#content section#right {
    line-height: 25px;
    width: 680px;
    margin-left: 260px;
    padding: 10px;
}